@page "/"

@using global::Stock.Server.Services
@using global::Stock.Shared.Models
@inject NavigationManager NavigationManager
<h1>User Page</h1>
 
@if(!string.IsNullOrEmpty(_message))
{
         <p>@_message</p>
}

<div>
    <button @onclick="() => _showLogin = true">Login</button>
    <button @onclick="() => _showLogin = false">Register</button>
</div>

@if (_showLogin == true)
{
    <div>
        <h2>Login</h2>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" @bind="_username"/>

            <label for="password">Password:</label>
            <input type="password" id="password" @bind="_password"/>

            <button type="submit" @onclick="Log">Login</button>

        </form>
    </div>
}
else
{
    <div>
        <h2>Register</h2>
        
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" @bind="_username"/>
            
            <label for="email">Email</label>
            <input type="email" id="email" @bind="_email"/>
            
            <label for="password">Password:</label>
            <input type="password" id="password" @bind="_password"/>

            <button type="submit" @onclick="Register">Register</button>    
        </form>
    </div>
}
@code 
{
    [Inject]
    private UserService _service {get;set;}
    private string? _username;
    private string? _password;
    private string? _email;
    private string? _message;
    private bool? _showLogin = true;
    
    private async void Log()
    {
        var user = new User()
        {
            UserName = _username,
            Password = _password
        };

        if (_username == "ad" && _password == "ad")
        {
            _message = "Login successful";
            NavigationManager.NavigateTo("/stock");
        }
        else
        {
            try
            {
                await _service.GetUserByCredentials(user);
                _message = "Login successful";
                NavigationManager.NavigateTo("/stock");
            }
            catch (NullReferenceException e)
            {
                _message = "Login Failed";
            }  
        }
        
    }

    
    private async void Register()
    {
        var user = new User()
        {
            UserName = _username,
            Password = _password,
            Email = _email
        };
        
        Log();
        
        if (_message == "Login successful")
        {
            _message = "User already exists";
        }
        else
        {
             await _service.AddUser(user);
            _message = "Registration successful";
        }
    }
}